* {
    margin: 0;
    padding: 0;
    background-color: transparent;
    background-image: url("https://img.freepik.com/premium-vector/abstract-background-pastel-colors_627230-58.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
   
}
